<!DOCTYPE html>
<html lang="en"  xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Customer Resgistiration</title>

    <style>
        .error {color:red}
    </style>
</head>
<body>

<i>Fii out the form. Asterisk (*) means required</i>
<br><br>

<form th:action="@{/processForm}" th:object="${customer}" method="POST">

    First name: <input type="text" th:field="*{firstName}"/>

    <br><br>

    Last name (*): <input type="text" th:field="*{lastName}"/>

    <!-- error message -->
    <span th:if="${#fields.hasErrors('lastName')}"
          th:errors="*{lastName}"
          class="error"></span>

    <br><br>
    <input type="submit"  value="Submit" />

</form>

</body>
</html>